

.video {
    width: 90%;
    height:70vh;
    overflow: hidden;
}
.my-video-div{
    position: relative;
    width: fit-content;
}
.expand-btn{
    margin-left: 80%;
    position: absolute;
    color: green;
    font-size: 30px;
    font-weight: lighter;
    bottom: 10%;
    top: 85%;
    right: 11%;
    cursor: pointer;
}

.my-vid-bottom{
    position:absolute;
    bottom: 20px;
}

.others-video{
    width: 40%;
    border: 1px solid green;
}


.controls-div {
    margin: 3px;
    padding: 5px;
    height: 27px;
    width: 98%;
    background-color: rgba(255, 226, 104, 0.1);
    margin-top: -8.5vh;
    filter: brightness(1);
    z-index: 1;
    border-radius: 6px;
}

.small-controls {
    margin: 3px;
    padding: 5px;
    height: 16px;
    width: 98%;
    margin-top: -6vh;
    filter: brightness(1);
    z-index: 1;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

.controls-img {
    height: 30px;
}


.img-small {
    height: 15px;
    text-align: left;
    opacity: 0.5;
}


