.my-video{
    /* display: flex;
    width:100% ; */
}

.video {
    width: 90%;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid gray;
}

.others-video{
    width: 40%;
    border: 1px solid green;
}


.controls-div {
    margin: 3px;
    padding: 5px;
    height: 27px;
    width: 98%;
    background-color: rgba(255, 226, 104, 0.1);
    margin-top: -8.5vh;
    filter: brightness(1);
    z-index: 1;
    border-radius: 6px;
}

.small-controls {
    margin: 3px;
    padding: 5px;
    height: 16px;
    width: 98%;
    margin-top: -6vh;
    filter: brightness(1);
    z-index: 1;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

.controls-img {
    height: 30px;
}


.img-small {
    height: 15px;
    text-align: left;
    opacity: 0.5;
}


