#class-details-container {
    background-color: white;
    height: auto;
    margin-left: 3%;
    margin-right: 10%;

    margin-top: 40px;
    box-shadow: 2px 5px 5px #888888;


}

.class-details-hd {

    background-color: #4C7DFE;
    align-items: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 30%;
}

.class-details-hd>h1 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    padding-left: 25px;
    color: white;
}

#search-form {
    padding-left: 22%;

}

.class-details-searchdiv {
    margin-left: 5%;
    width: 20%;


}



.in-field {
    width: 90%;
    border-radius: 20px;
    height: 30%;
}

.inst-class-details-options {
    display: flex;
}




/* Header Drop Downs in Class details */


/* Course Mangement Dropdown done through variable and state */
.course-mang-dropdown-content {
    display: none;
    background-color: white;
    position: absolute;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.course-mang-show-content {
    display: block;
    background-color: white;
    position: absolute;
    width: 15%;
    text-align: start;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    z-index: 1;
}

.course-mang-list {
    color: black;
    border-bottom: 1px solid gray;
    font-size: medium;
    display: block;
    padding: 10px;
}

.course-mang-list:hover{
    background-color: gray;
    color: white;
}





/* Create new Activity drop down */

.create-activity-parent-content {
    display: none;
 
}

.create-activity-parent-content-show{
    display: block;
    background-color: white;
    color: black;
    position: absolute;
    width: 14%;
    text-align: start;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 7px;
    font-size: 18px;
}

.create-activity-parent-content >span{
    margin-left: 5px;
}
.create-activity-child-content {
    display: none;
   
   
   
}
.create-activity-child-content-show {
    display: block;
    background-color: white;
    color: black;
    position: fixed;
    right: 12%;
    width: 14%;
    text-align: start;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
   
}











.inst-class-details-options>div {
    font-size: 18px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.inst-class-details-options>div:hover{
    cursor: pointer;
    
}

.class-det-topic-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.topic-heading-edit {
    color: #4C7DFE;
    margin-left: 10px;
}



/* content  */

.classdetails-content {
    margin-left: 20px;
    background-color: white;
    margin-left: 3%;
    margin-right: 10%;
    height: auto;
    padding: 25px;

}

.class-det-topic-content {
    border: 1px solid #4C7DFE;
    padding-top: 10px;
    margin-bottom: 0px;
}

.main-content-1 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

.inner-content-left {
    color: #4C7DFE;


}

.inner-content-left>span {
    color: black;
    margin-left: 15px;
}

.inner-content-right {
    color: #4C7DFE;
    

}

.time {
    margin-right: 5px;
}

.cross-icon {
    color: red;
    margin-left: 10px;
}

.hr {
    margin-left: 20px;
    margin-right: 20px;
}

.check-upload{
    color: #888888;
    margin-left: 5px;
}
.check-upload-done{
    color: #4C7DFE;
    margin-left: 5px;
}


.participation-report{
    background-color:  #FFABAB80;
    padding: 10px;
    margin-right: 10px;
    color:  rgba(0, 0, 0, 0.6);
    cursor: pointer;
    
}

.link{
    text-decoration: none;
}