#signup-form-div {
    width: 100%;
    height: 631px;
    background-image: url("../assets//images/signup-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-div{
   text-align: center;
   padding-top: 20%;
   padding-left: 4%;
   
}
.signup-form-inner-div {

    background: rgba(76, 125, 254, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    height: 90%;
    width: 90%;
    margin-left: 17%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.signup-logo-learnify {
    display: flex;
    width: 40%;
    height: 124px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;

    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.logo-div>span {
    color: #FFFFFF;
    align-items: center;
    text-align: center;
}

.error{
    color: red;
    font-size: small;
    text-align: justify;
}


.signup-form {
  
    background-color: #FFFFFF;
    width: 45%;
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.07);
    border-radius: 24px;
    margin-top: 40px;
    margin-left: 10%;
    margin-bottom: 40px;
    padding-left: 2%;
    padding-right: 4%;
    height: fit-content;
}
.login-div{
    margin-top: 60px;
    margin-left: 5%;
    

}
.login-form{
    margin-top: 10%;
    
}

.form {

    text-align: center;
    margin-top: 20px;

}

.form-label-1 {
    display: flex;
    align-items: flex-start;
}

.form-label-1>label {

    text-align: justify;
    margin-left: 4%;
}

.form-input-1 {
    display: flex;
    align-items: flex-start;
}

.form-input-1>input {
    text-align: justify;
    width: 20px;
    margin-left: 4%;
    height: 50px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 10px;
}

.email-div {
    margin-left: 13px;
    margin-right: 2px;
    padding: 0%;
    align-items: flex-start;
}

.email-div>input {
    text-align: justify;
    height: 50px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 10px;
}

.form-btn-group {
    border: 1px dashed black;
   padding-top: 3%;
   padding-bottom: 5%;
    margin-top: 30px;
    margin-bottom: 30px ;
    width: fit-content;
    margin-left: 4%;
}

.in-file{
    border: none;
}

.form-btn-group>input {

    width: 100%;
    margin-bottom: 15px;
    
}



.g-logo-link {
    text-decoration: none;
    border: 3px solid #4C7DFE;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    padding-left: 90px;
    padding-right: 105px;


}
.g-logo-link-signup{
    text-decoration: none;
    border: 3px solid #4C7DFE;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    padding-left: 90px;
    padding-right: 75px;


}

.g-logo-link>img {
    height: 25px;
}