.meeting-footer-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    background-color: #fff;
    z-index: 1;
}

.meeting-footer-left-item {
    display: flex;
    align-items: center;
    height: 100%;
    width: 300px;
}

.meeting-footer-icon-block {

    display: block;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.icon {
    margin-left: 10px;
    font-size: 20px;
}

.icon :hover {
    cursor: pointer;
    background-color: gray;
}

.meeting-footer-center-item{
    display: flex;
    width: 100%;
    justify-content: center;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.meeting-footer-icon-block{
    background-color: #fff;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 10px;
  
}


.meeting-footer-right-item{
    display: flex;
    justify-content: flex-end;
    
}

.icon{
    color: #222;
}
.red{
    color: red;   
   }